{% extends "base.html" %}
{% load static %}
{% block content %}
<main>
    <div class="landing">
        <div class="landing-text">
            Mari <span style="font-family: 'Pacifico', cursive; color: #B2FAB4; font-size:72px;">Berikan</span> bantuan <br> untuk mereka yang membutuhkan.
        </div>
        <div class="landing-button">
            <a class="button" href="{% url 'donasi:daftar-program-donasi' %}">Mulai Berikan</a>
        </div>
    </div>
</main>
<div class="z"></div>
{% endblock %}