{% extends 'base.html' %}
{% load static %}

{% block additional_head %}
    <link rel="stylesheet" href="{% static 'donasi/styles/donasi.css' %}">
    <title>Daftar Program Donasi</title>
{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="event-container">
            <div class="title">Daftar Program Donasi</div>
            {% if pd_list %}
                {% for pd in pd_list %}
                <div class="event-flex">
                    <div class="program-title">
                        {{ pd.judul }}
                    </div>
                    <div class="content-flex">
                        <div class="crop">
                            <img src="{{ pd.link_gambar }}" alt="Program Donasi Image">
                        </div>
                        <div class="content">
                            <div class="content-text">
                                <img src="https://cdn.pbrd.co/images/HJkweWt.png">
                                <span class="inline">Target Rp {{ pd.target_donasi }} terkumpul</span>
                            </div>
                            <div class="content-text">
                                <img src="https://cdn.pbrd.co/images/HJkv4Ll.png">
                                {% if pd.banyak_donasi %}
                                <span class="inline">{{ pd.banyak_donasi }} orang baik memberikan donasi</span> 
                                {% else %}
                                <span class="inline">Belum ada orang baik memberikan donasi</span>
                                {% endif %}
                            </div>
                            <div class="content-text">Diselenggarakan oleh {{ pd.inisiator.name }}</div>
                            <div class="content-text">Dibuka sejak {{ pd.tanggal_program }}</div>
                        </div>
                    </div>
                    <div class="content-text">
                        <br>{{ pd.deskripsi }}
                    </div>
                    <div class="card-footer">
                        {% if not request.user.is_authenticated %}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Donasi
                        </button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Anda belum Login. Untuk berdonasi, anda harus Login/Registrasi.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Login</button>
                                <button type="button" class="btn btn-primary">Registrasi</button>
                            </div>
                            </div>
                        </div>
                        </div>
                        {% else %}
                        <a href="{% url 'donasi:detail-program-donasi' pd.id %}" class="btn bg-green-light">
                            <button class="button">Donasi</button>
                        </a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <div class="jumbotron bg-green-dark text-white text-justify">
                <h1>Belum ada program donasi yang bisa anda ikuti</h1>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}