{% extends 'base.html' %}
{% load static %}

{% block additional_head %}
    <link rel="stylesheet" href="{% static 'donasi/styles/donasi.css' %}">
    <title>{{ pd_detail.judul }} - Perak Funding</title>
{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="event-container">
            <div class="event-flex">
                <div class="program-title">
                    {{ pd_detail.judul }}
                </div>
                <div class="content-flex">
                    <div class="crop">
                        <img src="{{ pd_detail.link_gambar }}" alt="Program Donasi Image">
                    </div>
                    <div class="content">
                        <div class="content-text">
                            <img src="https://cdn.pbrd.co/images/HJkweWt.png">
                            <span class="inline">Target Rp {{ pd_detail.target_donasi }} terkumpul</span>
                        </div>
                        <div class="content-text">
                            <img src="https://cdn.pbrd.co/images/HJkv4Ll.png">
                            {% if pd_detail.banyak_donasi %}
                            <span class="inline">{{ pd_detail.banyak_donasi }} orang baik memberikan donasi</span> 
                            {% else %}
                            <span class="inline">Belum ada orang baik memberikan donasi</span>
                            {% endif %}
                        </div>
                        <div class="content-text">Diselenggarakan oleh {{ pd_detail.inisiator.name }}</div>
                        <div class="content-text">Dibuka sejak {{ pd_detail.tanggal_program }}</div>
                    </div>
                </div>
                <div class="content-text">
                    <br>{{ pd_detail.deskripsi }}
                </div>
                <div class="card-footer">
                    <a href="{% url 'donasi:daftar-donatur-program-donasi' pd_detail.id %}" class="button">
                        <button class="button">Daftar Donatur</button>
                    </a>
                </div>
            </div>
            <div class="form-center">
                <div class="twbs">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card bg-dimgray">
                                    <div class="card-header">
                                        <h2 class="text-center text-palegreen">Mari berdonasi!</h2>
                                    </div>
                                    <div class="card-body">
                                        <form action="{% url 'donasi:detail-program-donasi' pd_detail.id %}" method="POST">
                                            {% csrf_token %}
                                            {{ donasi_form.program_donasi.as_hidden }}
                                            {{ donasi_form.donatur.as_hidden }}
                                            {% if error_akun %}
                                            <p>{{ error_akun }}</p>
                                            {% endif %}
                                            <div class="form-group">
                                                {{ donasi_form.nama.label_tag }}
                                                {{ donasi_form.nama }}
                                            </div>
                                            <div class="form-group">
                                                {{ donasi_form.email.label_tag }}
                                                {{ donasi_form.email }}
                                            </div>
                                            <div class="form-group">
                                                {{ donasi_form.jumlah_donasi.label_tag }}
                                                {{ donasi_form.jumlah_donasi }}
                                            </div>
                                            <span>{{ donasi_form.anonim }} Saya tidak ingin nama saya ditunjukkan di daftar donatur</span>
                                            <br>
                                            <button type="submit" class="save btn bg-green-light button-center">Donasi</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}