{% extends 'base.html' %}
{% load static %}

{% block additional_head %}
    <link rel="stylesheet" href="{% static 'donasi/styles/donasi.css' %}">
    <title>Donasi Sukses - Perak Funding</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="jumbotron bg-green-dark text-white text-justify">
                <h1>Donasi sukses dilakukan!</h1>
                <p class="lead">
                    Anda akan diarahkan ke halaman daftar donatur dalam 5 detik. 
                    Silakan klik di <a href="{% url 'donasi:daftar-donatur-program-donasi' pd_detail.id %}">sini</a> jika browser Anda tidak mengarahkan Anda.
                </p>
            </div>
        </div>
    </div>
    <script>
        function redirect(){
            window.location.href = "{% url 'donasi:daftar-donatur-program-donasi' pd_detail.id %}";
        }
    
        setTimeout(redirect, 3000);
    </script>
{% endblock %}
