{% extends "base.html" %}
{% load static %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'registrasi/styles/registrasi.css' %}">
{% endblock %}

{% block content %}
<div class="twbs">
    <div class="container">
        <div class="jumbotron bg-dimgray text-justify">
            <h1 class="text-palegreen">Halaman tidak ditemukan!</h1>
        </div>
        <div class="spacer"></div>
    </div>
</div>
{% endblock %}