{% extends 'base.html' %}
{% load static %}

{% block additional_styles %}
	<link rel="stylesheet" href="{% static 'registrasi/styles/registrasi.css' %}">
{% endblock %}

{% block content %}
    <div class="twbs">
        <div class="container">
            <div class="row">
                <div class="jumbotron text-justify bg-dimgray">
                    <h1 class="text-palegreen">Forbidden 403!</h1>
                    <p class="lead text-white">
                        Anda dilarang untuk mengakses halaman ini!
                        Anda akan segera diarahkan ke landing page.
                        Silakan klik di <a class="text-palegreen" href="{% url 'landing-page:landing-page' %}">sini</a> jika browser Anda tidak mengarahkan Anda.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script>
        function redirect(){
            window.location.href = "{% url 'landing-page:landing-page' %}";
        }
    
        setTimeout(redirect, 3000);
    </script>
{% endblock %}
