<nav class="navbar">
    <ul class="navbar-container">
        <a href="{% url 'landing-page:landing-page' %}"><img src="https://cdn.pbrd.co/images/HJiK7qC.png"></a>
        <div>
            <a class="navbar-link" href="{% url 'berita:daftar-berita' %}">Berita</a>
            <a class="navbar-link" href="{% url 'donasi:daftar-program-donasi' %}">Donasi</a>
            {% if not request.user.is_authenticated %}
            <a class="navbar-link" href="{% url 'registrasi:registrasi' %}">Daftar</a>
            <a class="navbar-link" href="{% url 'registrasi:login' %}">Login</a>
            {% else %}
            <span class="navbar-link">
                Welcome, {{ request.user.name }}
                {% if request.session.image_url %}
                <img src="{{ request.session.image_url }}" class="profile-image" alt="Responsive image">
                {% endif %}
            </span>
            <a class="navbar-link" href="{% url 'registrasi:logout' %}">Logout</a>
            {% endif %}
			<a class="navbar-link" href="{% url 'Testimoni:testimoni' %}">About Us</a>
        </div>
    </ul>
</nav>