.flex-item-3 {
    flex: 1 0 30% !important;
    margin: 15px;
}

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 10px;
}

.card-upper-footer {
    padding: 5px;
    border-top: 1px solid rgba(0,0,0,.125);
}