{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
	<div class="main-container">
		<div class="event-container">
			<div class="title">About Us</div>
            <div class="event-flex">
                <p class="text-center">Our CrowdFund works for the sake of helping others.</p>
                <p class="text-center">The CrowdFund helps to improve the condition of many people.</p>

                <div>
                    <div class="container" style="max-width: 400px; margin-left: auto; margin-right: auto; display: block;">
                        <h1 style="margin-bottom: 20px; font-family: 'Ubuntu'">Testimoni</h1>
                        {% if user.is_authenticated %}
                        <textarea type="text" name="testimoni input" id="testi" placeholder="Type something.."style="width: 250px; height: 100px"></textarea> 
                        <button type="submit" class="button" onclick="showTesti()" style="font-family: 'Ubuntu'; color: white; background-color: #43C6E5; border-style: none; padding: 10px; width: 250px; margin-top: 10px; margin-bottom: 10px; margin-left: auto; margin-right: auto;display: block;">Add testimoni</button>
                        {% endif %}
                    </div>
                    <div id="testimoni-container" class="container" style="max-width: 800px; margin-top: 50px;">
                        {% if initial %}
                        <div class="maTesti row">
                            <div class="col-sm-12 mb-4">
                                {% for it in initial %}
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ it.namaTestimoni }}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{ it.testimoni }}</h6>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block additional_scripts %}
<script type="text/javascript">
    function showTesti() {
        $.ajax({
            type: 'GET',
            url:'/testimoni/testimoni',
            data: {
                'namaTestimoni': "{{ user.username }}",
                'testimoni': $('#testi').val()
            },
            success: function(data){
                console.log(data);
                var testi_cards = '<div class="maTesti row">';
                $.each(data, function(key, value){
                    testi_cards += '<div class="col-sm-12 mb-4">';
                    testi_cards += '<div class="card">';
                    testi_cards += '<div class="card-body">';
                    testi_cards += '<h5 class="card-title">'+ value.namaTestimoni +'</h5>';
                    testi_cards += '<h6 class="card-subtitle mb-2 text-muted">'+ value.testimoni +'</h6>';
                    testi_cards += '</div></div></div>';
                });
                $(".maTesti").remove();
                $('#testimoni-container').append(testi_cards);  
            }	
        });
    }
 </script>
{% endblock %}