{% extends "base.html" %}
{% load static %}

{% block additional_styles %}
	<link rel="stylesheet" href="{% static 'registrasi/styles/registrasi.css' %}">
{% endblock %}

{% block content %}
	<div class="twbs">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-palegreen">
					<h1 class="">Formulir Registrasi</h1>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="card bg-dimgray">
						<div class="card-header">
							<h2 class="text-palegreen">Akun yang terdaftar</h2>
						</div>
						{% if user_list %}
							{% for user in user_list %}
							<div class="card-header">
								<h5 class="text-white">{{ user.name }}</h5>
								<small class="text-palegreen">{{ user.date_joined }}</small>
							</div>
							{% endfor %}
						{% else %}
						<div class="card-body">
							<p class="lead text-palegreen">
								Belum ada akun yang terdaftar. Jadilah yang pertama!
							</p>
						</div>
						{% endif %}
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card bg-dimgray">
						<div class="card-header text-palegreen">
								<h2>Registrasi Akun Baru</h2>
							</div>
						<div class="card-body">
							<form action="{% url 'registrasi:registrasi' %}" method="POST">
								<div class="form-group text-white">
									{% csrf_token %}
									{{ registrasi_form.as_p }}
								</div>
								<button type="submit" class="save btn btn-block bg-palegreen hover-darkergreen">Daftar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}